@media screen and (-webkit-min-device-pixel-ratio: 0) {
  h1, h2 {
    font-weight: bold; } }
@media screen and (max-width: 640px) {
  .l-secondary-div {
    padding: 10px; }

  .l-content-div {
    margin: 20px auto;
    padding: 5px; }

  .section ul {
    margin-left: 0px; }

  #wedding-party h4 {
    margin: 5px 0 10px 0;
    font-size: rem-calc(18);
    font-weight: 400; } }
@media screen and (min-width: 640px) and (max-width: 900px) {
  .l-content-div {
    padding: 30px 50px; } }
