/* sass variables */
html, body {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  color: #66a266;
  font-weight: normal;
  font-family: "Droid Sans", Helvetica, sans-serif;
  line-height: 1.45em; }

h1, h2 {
  color: #477547;
  font-weight: normal;
  font-family: "Codystar", Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1px; }

a {
  color: #6c51af;
  text-decoration: none; }

a:hover {
  color: #9885c7; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

#l-main-div {
  display: block;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background: transparent url("../img/moss-wall.jpg") center center no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center; }

#l-main-content {
  display: block;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  border: 10px solid rgba(168, 211, 166, 0.7);
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: inset 0 0 5px #888888;
  background-color: rgba(252, 252, 252, 0.85);
  line-height: 1.5em; }
  #l-main-content h1 {
    margin: 0;
    font-size: 2.5em;
    line-height: 1.25em; }
    #l-main-content h1 span {
      letter-spacing: 2.5px; }
  #l-main-content #florish {
    width: 20%;
    min-width: 100px; }
  #l-main-content #kb {
    width: 60%;
    margin-bottom: 40px;
    border-radius: 10px; }
  #l-main-content .large-type {
    font-size: 1.25em; }

.categories {
  position: absolute;
  left: 0;
  bottom: 50px;
  right: 0;
  height: 50px;
  margin: auto;
  text-align: center; }
  .categories ul {
    padding: 30px 0 0 0; }
    .categories ul li {
      display: inline;
      margin: 0 5px;
      list-style-type: none;
      font-size: 1em; }

.l-secondary-div {
  display: block;
  margin: 0 auto;
  padding: 50px;
  background: transparent url("../img/watercolor01.jpg") repeat;
  background-position: center; }
  .l-secondary-div address {
    text-align: right; }

.l-content-div {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px 80px;
  border: 5px solid rgba(168, 211, 166, 0.7);
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: inset 0 0 5px #888888;
  background-color: rgba(252, 252, 252, 0.8);
  text-align: center; }

.section {
  margin: 10px 10px 40px 10px; }
  .section h2 {
    margin-bottom: 5px;
    font-size: 1.875em;
    line-height: 1.25em; }
  .section ul {
    margin-left: 25px;
    list-style-position: outside;
    list-style-image: url("../img/heart.png"); }
    .section ul li {
      margin-bottom: 3px; }

.florish-mini {
  display: block;
  width: 100px;
  margin: 0 auto 10px auto; }

.nav-link img {
  display: block;
  margin: 0 auto;
  max-width: 44px; }

#adventure .section {
  text-align: left; }
#adventure p:first-of-type:first-letter {
  float: left;
  padding: 0 5px 0 10px;
  color: #a8d3a6;
  font-size: 3.125em;
  font-family: 'Petit Formal Script', cursive;
  line-height: 0.85em; }

#wedding-party h4 {
  margin: 10px 0;
  font-size: 1.125em;
  font-weight: 400; }
#wedding-party .section {
  text-align: left; }
#wedding-party .party {
  float: left;
  margin-bottom: 20px; }
  #wedding-party .party p {
    margin-bottom: 0; }
#wedding-party .party-image {
  float: left;
  width: 150px;
  margin-right: 20px;
  border-radius: 10px; }

#wedding-details .hotel-info a {
  font-size: 1.25em;
  line-height: 1.65em; }
#wedding-details .transport-parking {
  display: inline-block;
  margin: 0 0 15px 0; }
#wedding-details #map-wedding {
  width: 100%;
  height: 500px;
  margin: 20px auto;
  border-radius: 10px; }
  #wedding-details #map-wedding img {
    max-width: none; }

.registry-image {
  width: 60%;
  max-width: 400px;
  margin: 10px; }

#contact p {
  margin-bottom: 0;
  font-size: 1.125em; }
#contact #fungtoy {
  width: 50%;
  margin: 30px 0;
  border-radius: 10px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  h1, h2 {
    font-weight: bold; } }
@media screen and (max-width: 640px) {
  .l-secondary-div {
    padding: 10px; }

  .l-content-div {
    margin: 20px auto;
    padding: 5px; }

  .section ul {
    margin-left: 0px; }

  #wedding-party h4 {
    margin: 5px 0 10px 0;
    font-size: 1.125em;
    font-weight: 400; } }
@media screen and (min-width: 640px) and (max-width: 900px) {
  .l-content-div {
    padding: 30px 50px; } }
