/* sass variables */
/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
html, body {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  color: #66a266;
  font-family: "Droid Sans", Helvetica, sans-serif;
  line-height: 1.25em; }

h1, h2 {
  font-family: "Codystar", Helvetica, sans-serif;
  text-align: center; }

a {
  color: #6c51af;
  text-decoration: none; }

.l-main-div {
  display: block;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  padding: 30px;
  background: transparent url("../img/moss-wall.jpg") center center no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center; }

.l-main-content {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  border: 10px solid rgba(168, 211, 166, 0.7);
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: inset 0 0 5px #888888;
  background-color: rgba(252, 252, 252, 0.85);
  line-height: 1.5em; }
  .l-main-content h1 {
    margin: 0;
    font-size: 2.5em;
    line-height: 1.25em; }
  .l-main-content #florish {
    width: 20%; }
  .l-main-content #fungtoy {
    width: 60%;
    margin-bottom: 40px;
    border-radius: 10px; }
  .l-main-content #title-details {
    margin: 20px; }
  .l-main-content .large-type {
    font-size: 1.25em; }

.categories {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  height: 30px;
  margin: auto;
  text-align: center; }
  .categories ul {
    padding: 0; }
    .categories ul li {
      display: inline;
      margin: 0 5px;
      list-style-type: none;
      font-size: 0.90625em; }

.l-secondary-div {
  display: block;
  margin: 0 auto;
  padding: 50px;
  background: transparent url("../img/watercolor-mid02.jpg") repeat;
  background-position: center; }

.l-content-div {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px 50px;
  border: 5px solid rgba(168, 211, 166, 0.7);
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  box-shadow: inset 0 0 5px #888888;
  background-color: rgba(252, 252, 252, 0.8);
  text-align: center; }

.section {
  margin: 10px 10px 40px 10px; }

#adventure .section {
  text-align: left; }

#wedding-party .section {
  text-align: left; }
#wedding-party .party-image {
  float: left;
  clear: left;
  width: 150px;
  margin: 10px;
  border-radius: 10px; }

#map-wedding {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px; }
  #map-wedding img {
    max-width: none; }
