/* sass variables */
html, body {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  color: #98b57f;
  font-family: "Droid Sans", Helvetica, sans-serif; }

h1, h2 {
  font-family: "Codystar", Helvetica, sans-serif;
  text-align: center; }

a {
  color: #6c51af;
  text-decoration: none; }

.l-main-div {
  display: block;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  text-align: center; }

.l-background-img {
  display: block;
  position: absolute;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  background: transparent url("../img/moss-wall.jpg") center center no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.l-content-a {
  display: table;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%; }

.l-content-b {
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
  text-align: center; }

.l-wrapper {
  position: relative;
  margin: 20px auto;
  padding: 30px;
  max-width: 75%;
  max-height: 75%;
  border: 10px solid rgba(168, 211, 166, 0.7);
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: inset 0 0 5px #888;
  background-color: rgba(252, 252, 252, 0.85);
  line-height: 1.5em; }
  .l-wrapper h1 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.25em; }
  .l-wrapper #florish {
    width: 20%; }
  .l-wrapper #fungtoy {
    width: 50%;
    margin-bottom: 40px;
    border-radius: 10px; }
  .l-wrapper #title-details {
    margin: 20px; }
  .l-wrapper .large-type {
    font-size: 1.25rem; }

.categories {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  height: 30px;
  margin: auto;
  text-align: center; }
  .categories ul {
    padding: 0; }
  .categories li {
    display: inline;
    margin: 0 5px;
    list-style-type: none;
    font-size: 0.9rem; }

.l-content-div {
  margin: 50px;
  border: 5px solid rgba(168, 211, 166, 0.7);
  border-radius: 10px;
  padding: 30px 50px;
  text-align: center; }

#wedding-details #ceremony, #wedding-details #reception, #wedding-details #directions, #wedding-details #hotels {
  margin: 10px;
  text-align: center; }

#map-wedding {
  width: auto;
  height: 400px;
  max-width: 800px;
  margin: 0 auto; }
  #map-wedding img {
    max-width: none; }
