@import "sass-styles";

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	color: #98b57f;
	font-family: $font-stack;
}

h1, h2 {
	font-family: $header-font-stack;
	text-align: center;
}

a {
	color: $purple;
	text-decoration: none;
}

.l-main-div,
.l-background-img {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
}

.l-background-img {
	display: block;
	position: absolute;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	background: transparent url("../img/moss-wall.jpg") center center no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.l-content-a {
	display: table;
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.l-content-b {
	display: table-cell;
	vertical-align: middle;
	z-index: 3;
	text-align: center;
}

.l-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 30px;
	max-width: 85%;
	max-height: 85%;
	border: 10px solid $green-border;
	border-radius: $radius;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: inset 0 0 5px #888;
	background-color: $white-translucent;
	line-height: 1.5em;
	h1 {
		margin: 0;
		font-size: 2.5rem;
		line-height: 1.25em;
	}
	#florish {
		width: 20%;
	}
	#fungtoy {
		width: 50%;
		margin-bottom: 40px;
		border-radius: $radius;
	}
	#title-details {
		margin: 20px;
	}
	.large-type {
		font-size: 1.25rem;
	}
}



.categories {
	position: absolute;
	left: 0;
	bottom: 30px;
	right: 0;
	height: 30px;
	margin: auto;
	text-align: center;
	ul {
		padding: 0;
	}
	li {
		display: inline;
		margin: 0 5px;
		list-style-type: none;
		font-size: 0.9rem;
	}
}

.l-content-div {
	margin: 50px;
	border: 5px solid $green-border;
	border-radius: $radius;
	padding: 30px 50px;
	text-align: center;
}

#adventure {

}

#wedding-details {
	#ceremony, #reception, #directions, #hotels {
		margin: 10px;
		text-align: center;
	}
}

#map-wedding {
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

#wedding-party {

}

#registry {

}

#contact {

}