@import "sass-styles";

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	color: $dark-green;
	font-weight: normal;
	font-family: $font-stack;
	line-height: 1.4em;
}

h1, h2 {
	color: $title-green;
	font-weight: normal;
	font-family: $header-font-stack;
	text-align: center;
}

a {
	color: $purple;
	text-decoration: none;
}

a:hover {
	color: $lavender;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#l-main-div {
	display: block;
	position: relative;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	background: transparent url("../img/moss-wall.jpg") center center no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
}

#l-main-content {
	display: block;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px;
	border: 10px solid $green-border;
	border-radius: $radius;
	@include inset-box-shadow($gray-shadow);
	background-color: $white-translucent;
	line-height: 1.5em;
	h1 {
		margin: 0;
		font-size: rem-calc(40);
		line-height: 1.25em;
		span {
			letter-spacing: 2.5px;
		}
	}
	#florish {
		width: 20%;
		min-width: 100px;
	}
	#kb {
		width: 60%;
		margin-bottom: 40px;
		border-radius: $radius;
	}
	.large-type {
		font-size: rem-calc(20);
	}
}

.categories {
	position: absolute;
	left: 0;
	bottom: 50px;
	right: 0;
	height: 50px;
	margin: auto;
	text-align: center;
	ul {
		padding: 30px 0 0 0;
		li {
			display: inline;
			margin: 0 5px;
			list-style-type: none;
			font-size: rem-calc(16);
		}
	}
}

.l-secondary-div {
	display: block;
	margin: 0 auto;
	padding: 50px;
	background: transparent url("../img/watercolor01.jpg") repeat;
	background-position: center;
}

.l-content-div {
	max-width: 1000px;
	margin: 50px auto;
	padding: 30px 50px;
	border: 5px solid $green-border;
	border-radius: $radius;
	@include inset-box-shadow(#888);
	background-color: $white-translucenter;
	text-align: center;
}

.section {
	margin: 10px 10px 40px 10px;
	h2 {
		margin-bottom: 5px;
		font-size: rem-calc(32);
	}
	ul {
		margin-left: 25px;
		list-style-position: outside;
		list-style-image: url("../img/heart.png");
		li {
			margin-bottom: 3px;
		}
	}
}

.florish-mini {
	display: block;
	width: 100px;
	margin: 0 auto;
}

#adventure {
	.section {
		text-align: left;
	}
	p:first-of-type:first-letter {
		float: left;
		padding: 0 5px 0 10px;
		color: $seafoam; 
		font-size: rem-calc(50); 
		font-family: 'Petit Formal Script', cursive;
		line-height: 0.85em;
	}
}

#wedding-party {
	.section {
		text-align: left;
	}
	.party {
		float: left;
	}
	.party-image {
		float: left;
		width: 150px;
		margin: 10px;
		border-radius: $radius;
	}
}

#map-wedding {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	border-radius: $radius;
	img {
		max-width: none
	}
}

.registry-image {
	width: 60%;
	max-width: 400px;
	margin: 10px;
}

#contact {
	p {
		font-size: rem-calc(18);
	}
	#fungtoy {
		width: 50%;
		margin: 20px 0;
		border-radius: $radius;
	}
}

@import "media-queries";