@import "sass-styles";

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	color: $dark-green;
	font-family: $font-stack;
	line-height: 1.25em;
}

h1, h2 {
	font-family: $header-font-stack;
	text-align: center;
}

a {
	color: $purple;
	text-decoration: none;
}

.l-main-div {
	display: block;
	position: relative;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	padding: 30px;
	background: transparent url("../img/moss-wall.jpg") center center no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
}

.l-main-content {
	display: block;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
	border: 10px solid $green-border;
	border-radius: $radius;
	@include inset-box-shadow($gray-shadow);
	background-color: $white-translucent;
	line-height: 1.5em;
	h1 {
		margin: 0;
		font-size: rem-calc(40);
		line-height: 1.25em;
	}
	#florish {
		width: 20%;
	}
	#fungtoy {
		width: 60%;
		margin-bottom: 40px;
		border-radius: $radius;
	}
	#title-details {
		margin: 20px;
	}
	.large-type {
		font-size: rem-calc(20);
	}
}

.categories {
	position: absolute;
	left: 0;
	bottom: 30px;
	right: 0;
	height: 30px;
	margin: auto;
	text-align: center;
	ul {
		padding: 0;
		li {
			display: inline;
			margin: 0 5px;
			list-style-type: none;
			font-size: rem-calc(14.5);
		}
	}
}

.l-secondary-div {
	display: block;
	margin: 0 auto;
	padding: 50px;
	background: transparent url("../img/watercolor-mid02.jpg") repeat;
	background-position: center;
}

.l-content-div {
	max-width: 1200px;
	margin: 50px auto;
	padding: 30px 50px;
	border: 5px solid $green-border;
	border-radius: $radius;
	@include inset-box-shadow(#888);
	background-color: $white-translucenter;
	text-align: center;
}

.section {
	margin: 10px 10px 40px 10px;
}

#adventure {
	.section {
		text-align: left;
	}
}

#wedding-party {
	.section {
		text-align: left;
	}
}

#wedding-details {

}

#map-wedding {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	border-radius: $radius;
	img {
		max-width: none
	}
}

